body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('https://img.freepik.com/free-vector/blue-abstract-gradient-wave-vector-background_53876-111548.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
